[submodule "node_modules/express"]
	path = node_modules/express
	url = https://github.com/visionmedia/express.git
[submodule "node_modules/socket.io"]
	path = node_modules/socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "node_modules/nodeunit"]
	path = node_modules/nodeunit
	url = https://github.com/caolan/nodeunit.git
[submodule "node_modules/connect"]
	path = node_modules/connect
	url = https://github.com/senchalabs/connect.git
